@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom colors */
:root {
  --cream: #FAF6EF;
  --orange: #C6511C;
}

body {
  background-color: var(--cream);
  color: #1F2937; /* Tailwind gray-900 */
  font-family: 'Corben', cursive;
}
